CRUISE="TN444"
INSTNAME="130"
START="2025-05-22T00:00:00Z"

# SMB mount
SEAFLOWIP="192.168.1.241"
WINDOWSSHARE="smb://seaflow:seaflow@${SEAFLOWIP}/Users/seaflow/Desktop/seaflow2files"
MOUNTPOINT="/Users/seaflow/instrument"
# seaflow-transfer
SRCLOGPATH="Desktop/seaflow2files/logs/SFlog.txt"
SRCEVTPATH="Desktop/seaflow2files/datafiles/evt"
DSTLOGPATH="/Users/seaflow/Desktop/realtime/seaflow-transfer/$CRUISE/SFlog.txt"
DSTEVTPATH="~/scratch/TN444-perftest/$CRUISE-evt"
SSHUSER="seaflow"
SSHPUBLICKEY="/Users/seaflow/.ssh/realtime2inst_ed25519"
# cruisemic
CRUISEMICDIR="/Users/seaflow/Desktop/realtime/cruisemic/$CRUISE"
CRUISEMICPORT="55558"
CRUISEMICPARSER="TN427"
# sync
SYNCSRCDIR="~/scratch/realtime-sync"
SYNCDSTDIR="realtime-sync/"
SYNCHOST="shore"
# sync realtime repo
SYNCREALTIMEREPOURL="https://github.com/seaflow-uw/realtime-dbs"
SYNCREALTIMEREPODIR="~/scratch"
# timeout binary location
TIMEOUTPATH=/usr/local/bin/timeout
# seaflowpy path
SEAFLOWPYPATH=~/git/seaflowpy/.venv/bin/seaflowpy
