CRUISE="TN444"
INSTNAME="130"
START="2025-05-22T00:00:00Z"
END="2025-06-10T00:00:00Z"

# SMB mount
SEAFLOWIP="192.168.1.241"
WINDOWSSHARE="smb://seaflow:seaflow@${SEAFLOWIP}/Users/seaflow/Desktop/seaflow2files"
MOUNTPOINT="/Users/seaflow/instrument"
# seaflow-transfer
SRCLOGPATH="Desktop/seaflow2files/logs/SFlog.txt"
SRCEVTPATH="Desktop/seaflow2files/datafiles/evt"
DSTLOGPATH="/Users/seaflow/Desktop/realtime/seaflow-transfer/$CRUISE/SFlog.txt"
DSTEVTPATH="/Users/seaflow/Desktop/realtime/seaflow-transfer/$CRUISE/evt"
SSHUSER="seaflow"
SSHPUBLICKEY="/Users/seaflow/.ssh/realtime2inst_ed25519"
# cruisemic
CRUISEMICPATH=/Users/seaflow/bin/cruisemic
CRUISEMICDIR="/Users/seaflow/Desktop/realtime/cruisemic/$CRUISE"
CRUISEMICPORT="55558"
CRUISEMICPARSER="TN427"
# sync
SYNCSRCDIR="/Users/seaflow/Desktop/realtime/sync"
SYNCDSTDIR="realtime-sync/"
SYNCHOST="shore"
# sync realtime repo
SYNCREALTIMEREPOURL="https://github.com/seaflow-uw/realtime-dbs"
SYNCREALTIMEREPODIR="/Users/seaflow/Desktop/realtime/sync-realtime-repo"
# timeout binary location
TIMEOUTPATH=/opt/homebrew/bin/timeout
# TIMEOUTPATH=/usr/local/bin/timeout
# seaflowpy path
SEAFLOWPYPATH=~/git/seaflowpy/.venv/bin/seaflowpy
# rsync path
RSYNCPATH=/opt/homebrew/bin/rsync
# RSYNCPATH=/usr/local/bin/rsync
# seaflog path
SEAFLOGPATH=/Users/seaflow/bin/seaflog
