data_dir = "{{ nomad_data }}"

bind_addr = "127.0.0.1"

log_level = "INFO"

server {
  enabled = true
  bootstrap_expect = 1 
  default_scheduler_config {
    memory_oversubscription_enabled = true
  }
}

advertise {
  http = "127.0.0.1"
  rpc = "127.0.0.1"
  serf = "127.0.0.1"
}

client {
  enabled = true

  host_network "localhost" {
    cidr = "127.0.0.1/32"
  }

  host_network "public" {
    cidr = "{{ lookup('vars', 'ansible_' + public_interface).ipv4.address }}/32"
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "docker" {
  config {
    volumes {
      enabled  = true  # to enable bind mounts
    }
    gc {
      image = false  # don't erase images once a job is complete
    }
  }
}
